# The P3 secondary configuration file defines the configuration for the
# secondary host and valid P3 primary hosts.

#
# The P3 local secondary host configuration must be contained within
# the keywords "localstart" and "localend".
#
localstart
ip = 4
address = 192.168.0.41
cluster_state = 0
load_balance = 0
localend

#
# The configuration for P3 remote primary hosts may be out of order
# because each one is identified by a "pri_id", which is an arbitrary
# integer.  However, keeping the definitions in order minimizes the
# intialization time.
1/ip = 4
1/address = 192.168.0.40
1/subnet1 = 192.168.0.40
1/mask1 = 255.255.255.255
1/port = 5653

